.rbc-today {
  background-color: #f4f6ff;
}

.rbc-month-view {
  background-color: #f4f6ff;
  border: none;
}
.rbc-month-header {
  background-color: white;
}
.rbc-header {
  border-bottom: none;
  border-left: none;
  color: rgba(78, 97, 128, 0.671);
  padding: 1vh;
}
.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-month-row {
  overflow: visible;
}
.rbc-date-cell {
  text-align: left;
  color: rgba(78, 97, 128, 0.671);
  padding: 1vh;
}
.rbc-row-segment a {
  text-align: center;
}
.rbc-event {
  background-color: white;
  max-width: 80%;
  box-shadow: 0px 0px 8px rgba(177, 177, 177, 0.603);
  margin: .5vh 3vh;
  padding: 0vh 1vh;
}
.rbc-event-color {
  border: 1.2px solid #d6d6d6;
  height: 1vh;
  width: 4vh;
  border-radius: 20px;
  margin: 1vh 0vh 0vh 0vh;
}
.rbc-event-label {
  color: black;
  margin: auto auto 1vh auto;
}
.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: white;
}

.rbc-show-more {
  color: rgba(104, 104, 104, 0.623);
  text-decoration: none;
  font-size: 1.5vh;
  padding: 1vh;
}



.rbc-overlay-header {
  margin: auto;
  text-align: center;
}
.rbc-overlay {
  min-width: 280px !important;
  border-radius: 10px;
}
.rbc-overlay.rbc-event {
  width: 100%;
}
